h1 {
    text-align: center;
}
.boxen {
    display: flex;
    
}
.boxen > div {
    align-self: center;
    width: 22rem;
    height: 10rem;
    border: 3px solid #73AD21;
    margin: 2rem;
}
/*.Box_1 {
    align-self: center;
    width: fit-content;
    border: 3px solid #73AD21;
}
.Box_2 {
    align-self: center;
    width: fit-content;
    border: 3px solid #73AD21;
}
.Box_3 {
    align-self: center;
    width: fit-content;
    border: 3px solid #73AD21;
}*/